/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

/*===== VARIABLES CSS =====*/
:root{
  --header-height: 3rem;
  --nav-width: 68px;

  /*===== Colors =====*/
  --first-color: #BE0027;
  --second-color: #424242; 
  --main-color:#4e218f;
  --first-color-light: #C4C4C4;
  --white-color: #F7F6FB;
  --black-color: #010B14;
  
  /*===== Font and typography =====*/
  --body-font: 'Nunito', sans-serif;
  --normal-font-size: 1rem;
  
  /*===== z index =====*/
  --z-fixed: 100;
}

/*===== BASE =====*/
*,::before,::after{
  box-sizing: border-box;
}

body{
  position: relative;
  margin: var(--header-height) 0 0 0;
  padding: 0;
  background-color: var(--white-color);
  font-family: "Google Sans Text",Roboto,Arial,sans-serif;
  font-size: var(--normal-font-size);
  transition: .5s;
}

#main{
  padding-top: 3rem;
  justify-content: center;
}

a{
  text-decoration: none;
}


/*===== HEADER =====*/
.header{
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  background-color: var(--white-color);
  z-index: var(--z-fixed);
  transition: .5s;
}

.header__toggle{
  color: var(--second-color);
  font-size: 1.5rem;
  cursor: pointer;
}

.header__img{
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
}

.header__img img{
  width: 40px;
}

.header1{
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 64;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--black-color);
  z-index: var(--z-fixed);
  transition: .5s;
}

.nav__link1{
  position: relative;
  color:var(--first-color-light);
  padding: 0.55rem;
  font-weight: 700;
  transition: .3s;
}

.nav__link1:hover{
  color: var(--first-color);
  box-shadow: 0px 0px 20px  rgba(255, 255, 255, 0.4);
  padding: 0.55rem;
  border-radius: 10px;
  transition: .3s;
}

#section-a,#section-b,#section-c,#section-d{
  padding: 2rem;
  color: var(--black-color);
}

#section-d{
  background-color: #EFC716;
}
#section-a,#section-b,#section-c{
  background: rgba( 247, 246, 251, 0.90 );

  backdrop-filter: blur( 20.0px );
  -webkit-backdrop-filter: blur( 20.0px );
}
#section-a{
  position: relative;
  left: 0;
 
}

.content1{
  background-image: url(../img/back2.jpg);
  background-repeat: no-repeat;
  position:relative;
  height: 15rem;
  width: 100%;
  padding: 2rem;
  background-size: cover;
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  transition: .5s;
}
.content{
  position:relative;
  height: 100%;
  width: 100%;
 padding: 2rem;
  background: rgba( 255, 255, 255, 0.20 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 7.0px );
  -webkit-backdrop-filter: blur( 7.0px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  transition: .5s;
}

.oppo{
  color:var(--white-color);
  background-color:var(--black-color);
  padding:0.2rem 0.4rem; 
}

.head1{
  font-weight: 800;
  font-size: 2rem;
  margin: 0;
  padding: 0 0 2rem 0 ;
  z-index: 99;
}

.head-btn{
  position: relative;
  color: var(--white-color);
  background:rgba( 190, 0, 39, 0.90 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  padding: 0.55rem 0.75rem;
  font-weight: 700;
  width: max-content;
  display: flex;
  justify-content: center;
  border-radius: 50px;
  cursor: pointer;
  z-index: 99;
}
.head-btn:hover{
  box-shadow: 0px 0px 20px  rgba(255, 255, 255, 0.4);
}

/*===== NAV =====*/
.l-navbar{
  position: fixed;
  top: 0;
  left: -30%;
  width: var(--nav-width);
  height: 100vh;
  background-color: var(--white-color);
  padding: .5rem 1rem 0 0;
  transition: .5s;
  z-index: var(--z-fixed);
}

.nav{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.nav__logo, .nav__link{
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: 1rem;
  padding: .5rem 0 .5rem 1.5rem;
}

.nav__logo{
  margin-bottom: 2rem;
}
@font-face{
  font-family: "waterlily";
  src: url(../fonts/Waterlily\ Script.ttf);
  font-style: normal;
  font-weight: 18;
}

/* .main-heading{
  font-family: 'Oregano', cursive;
} */
.hunarwar{
  color:   var(--black-color);
  
  font-size: 30px;
  font-family: "waterlily";
}

.hunarwar-w{
  font-size: 40px;
}

.nav__logo-icon{
  font-size: 1.25rem;
  color: var(--second-color);
}

.nav__logo-name{
  color: var(--second-color);
  font-weight: 700;
  
}

.nav__link{
  position: relative;
  color: var(--second-color);
  margin-bottom: 1.5rem;
  transition: .3s;
}

.nav__link:hover{
  color: var(--first-color);
}

.nav__icon{
  font-size: 1.25rem;
}

/*Show navbar movil*/
.show{
  left: 0;
}

/*Add padding body movil*/
.body-pd{
  padding-left: 40px;
}

/*Active links*/
.active{
  color: var(--first-color);
}

.active::before{
  content: '';
  position: absolute;
  left: 0;
  width: 2px;
  height: 32px;
  background-color: var(--first-color);
}

.main-heading{
  margin: 0;
  font-size: 3rem;
  font-weight: bold;
}


/* ===== MEDIA QUERIES=====*/
@media screen and (min-width: 768px){
  body{
    margin: calc(var(--header-height) + 1rem) 0 0 0;
    padding: 0 0 0 var(--nav-width) ;
  }

  .header{
    height: calc(var(--header-height) + 1rem);
    padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
  }

  .header__img{
    width: 40px;
    height: 40px;
  }

  .header__img img{
    width: 45px;
  }

  .l-navbar{
    left: 0;
    padding: 1rem 1rem 0 0;
  }
  
  /*Show navbar desktop*/
  .show{
    width: calc(var(--nav-width) + 156px);
  }

  /*Add padding body desktop*/
  .body-pd{
    padding-left: calc(var(--nav-width) + 60px);
  }

  .nav__link1{
    padding:  0.75rem; 
  }
  .nav__link1:hover{
    padding:  0.45rem 0.75rem;
  }
  .header1{
    padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
    justify-content: center;  
  }
  #section-a{
    
    padding:4rem 12rem 2rem 12rem;
    
  } 
  #section-b{
    
    padding:2rem 4rem 2rem 4rem;
    
  } 
  #section-c,#section-d{
    
    padding:2rem 12rem 2rem 12rem;
    
  } 

  /* .head1{
    font-size: 3rem;
   padding: 3.2rem 7.5rem;
  }

  .head-btn{
    margin: 0em 0em 0em 7.5em;
  } */

  .main-heading{
    font-size: 4rem;
  }

  .content1{
    
    height: 50rem;
    width: 100%;
  }


}

